@model AdminLoginRequestModel

@{    
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<h2>Log In - Admin Panel</h2>

<div class="text-center w-50">
    <form asp-action="LoginConfirm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label class="control-label">Nickname</label>
                <input asp-for="Nickname" class="form-control"/>
                <span asp-validation-for="Nickname" Title="text-danger"></span>

                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="🚪" class="btn btn-primary" />
            </div>
        </form>
</div>