@using KornikTournament.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KornikTournament.Enums
<!DOCTYPE html>
<html lang="en">
    <!-- bWFkZSBieSDFgXVrYXN6IE1yb3dpZWMsIHBvd2VyZWQgYnkgUmVtaWsgU3p5bWN6YWsKCmZvciBhbnkgcG9zc2libGUgZXhwbG9pdHMgbWVzc2VnZSB1cyBvbiBHSCwgY3V6IGl0cyB3YXMgbWFkZSBpbiAyIGRheXM= -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Kornik Tournament</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/KornikTournament.styles.css" asp-append-version="true"/>
    <link rel="icon" href="favicon.png" type="image/x-icon" />
</head>
<body class="bg-dark text-light">
<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-secondary box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kornik Tournament</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                @if (TournamentSettingsHelper.GetTournamentState() == ETournamentState.OnGoing)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Team" asp-action="Create">Stwórz drużyne</a>
                    </li>
                }
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Team" asp-action="Login">Panel leadera drużyny</a>
                    </li>
                @if (TournamentSettingsHelper.GetTournamentState() != ETournamentState.Ended && TournamentSettingsHelper.GetTournamentState() != ETournamentState.Started)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="FreeAgents">"Wolni agenci"</a>
                    </li>
                }
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Skontakuj się z nami</a>
                    </li>
                
                @if (TournamentSettingsHelper.GetTournamentState() != ETournamentState.OnGoing && TournamentSettingsHelper.GetTournamentState() != ETournamentState.EntriesEnded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Teams">Wszystkie drużyny</a>
                    </li>
                }
                
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top border-secondary footer text-muted bg-dark">
    <div class="container d-flex justify-content-between w-100">
        <div>
            &copy; @DateTime.Now.Year - Kornik LoL Tournament <a asp-area="" asp-controller="Admin" asp-action="Login" class="text-muted text-decoration-none">🚪</a>
        </div>
        <a asp-controller="Home" asp-action="Contact" class="text-muted text-decoration-none">Kontakt</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>