@{
    ViewBag.Title = "Kontakt";
    Layout = "_Layout";
}

<h2>Kontakt</h2>

<div class="mt-2">
    <div class="contact">
        <p>Pytania? Napisz do nas na <span class="text-primary">Fb</span></p>
        <ul class="list-unstyled">
            <li>
                <a href="https://www.facebook.com/profile.php?id=100014371411443" class="text-primary text-decoration-none">Michał Sołek</a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=100015072570141" class="text-primary text-decoration-none">Kuba Jabłoński</a>
            </li>
        </ul>
    </div>

    <div class="bottom-0 position-absolute">
        <a href="https://github.com/BigBrain-Solutions/TurniejKornik" class="text-light text-decoration-none"><img src="graphics/github-30.svg" alt="Github"/> Source Code</a>
    </div>
</div>

<style>
    .bottom-0 {
        margin-bottom: 5rem;
    }
</style>