@{
    ViewBag.Title = "Ogłoszenia";
    Layout = "_Layout";
}

<h2 class="text-center">Ogłoszenia</h2>

<div class="d-flex justify-content-center">
    <div class="announcements">
        @foreach (var announcement in ViewData["Announcements"] as IList<Announcement> ?? new List<Announcement>())
        {
            <div class="text-center p-5 m-4 announcement">
                @{
                    var hour = announcement.TimeAdded.Value.Hour + 1;
                    var minutes = announcement.TimeAdded.Value.Minute;
                }
                
                <a>@announcement.TimeAdded!.Value.Date.ToString("M") @hour:@switch(minutes)
                {
                    case < 10:
                        var m = $"0{minutes}";
                        @m
                        break;
                    default:
                        @minutes
                        break;
                }
                </a>
                <h1 class="fw-bold">@announcement.Title</h1>
                <p>@announcement.Content</p>

                @if (!string.IsNullOrEmpty(announcement.ImageUrl))
                {
                    <img src="@announcement.ImageUrl" alt="" class="d-block m-auto w-50 text-center"/>
                }

                @if (Context.User.IsInRole("admin"))
                {
                    <div class="m-2">
                        @using (Html.BeginForm("DeleteAnnouncement", "Home"))
                        {
                            <input type="hidden" name="Id" value=@announcement.Id/>
                            <input type="submit" value="Usuń" class="btn btn-danger right"/>
                        }
                    </div>
                }

            </div>
        }
    </div>
</div>

<style>
    .announcement {
        border-radius: 30px;
        background: rgb(25, 27, 30);
    }
</style>