@{
    ViewBag.Title = "Ogłoszenia";
    Layout = "_Layout";
}

<h2 class="text-center">Ogłoszenia</h2>

<div class="d-flex justify-content-center">
    <div class="announcements">
        @foreach (var announcement in ViewData["Announcements"] as IList<Announcement> ?? new List<Announcement>())
        {
            <div class="text-center p-5 m-4 announcement">
                <a>@announcement.TimeAdded!.Value</a>
                <h1 class="fw-bold">@announcement.Title</h1>
                <p>@announcement.Content</p>
                <img src="@announcement.ImageUrl" alt=""/>
            </div>
        }
    </div>
</div>

<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: center;
    }
    
    .announcement {
        border-radius: 30px;
        background: rgb(25, 27, 30);
    }
</style>